
.sidebar {
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.sidebar .nav-link {
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center; /* Align icons with text */
}

.sidebar .nav-link:hover {
  background-color: #495057;
  color: white;
}

.sidebar .nav-link.active {
  background-color: #007bff;
  color: white;
}

.collapsed-sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.collapsed-sidebar-icons .collapsed-icon {
  margin-bottom: 20px;
  font-size: 25px;
  color: #f8f9fa; /* Custom color for collapsed icons */
}
.link-title{
  margin-left: 10px !important;
}


.sidebar-nav{
  flex-direction: column !important;
  height: 100% !important;
}