.csv-import-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.csv-upload-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.file-upload-icon {
  margin-right: 10px;
}

.loading-spinner {
  margin-left: 10px;
}

.file-name {
  margin-left: 10px;
  font-weight: bold;
}
/* 
.action-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #007bff;
}

.action-icon:hover {
  color: #0056b3;
} */
/* In your CSS file (e.g., style.css) */
.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
}

.modal-body {
  padding: 1rem;
}
.card{
  margin:10px;
}