.app-container {
  display: flex;
}

.sidebar-nav {
  height: 100vh;
  width: 200px;
}

.sidebar-icon {
  margin-right: 10px;
}

.link-title {
  color: white;
}

.main-content {
  flex-grow: 1;
}

.main-header {
  background: #343a40;
  color: white;
  padding: 10px;
  text-align: center;
}
